:root {
  --main-color: #feffdf;
  --second-color: #dde0ab;
  --third-color: #97cba9;
  --fourth-color: #668ba4;
  --main-font: Georgia;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: Georgia, "Times New Roman", Times, serif;
}

body,
h1 {
  margin: 0;
}

body {
  background: var(--main-color);
}

.game {
  main {
    width: 100%;
    height: 100vh;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.h1 {
  padding: 5rem;
  color: var(--third-color);
  justify-content: center;
}

.button {
  margin: 1rem;
  padding: 1rem;
  background-color: var(--fourth-color);
  color: var(--second-color);
  font: var(--main-font);
  font-style: oblique;
  cursor: pointer;
}
